# ClangFormatStyleOptions:
# https://clang.llvm.org/docs/ClangFormatStyleOptions.html

---
BasedOnStyle: WebKit

ColumnLimit: 80
IncludeBlocks: Regroup
SortIncludes: CaseInsensitive
UseCRLF: false

...
